<div class="col-10 offset-1">
  <h1>Blackened Chilean Seabass</h1>
    <p>
      Chilean Seabass is one of the best fish on the market. It has a buttery and fishy taste to it, and the meat melts in your mouth as you chew it. I am not sure if you can get fresh seabass from any supermarkets, however it does usually come prevously frozen. Personally, my go to method for cooking is blackening it. And if you ever have the money to spend and want to impress your friends I would make Chilean Seabass.
    <p>
  <h2>Ingredients</h2>
    <ol type="I">
      <li> 2 (.5 pound) skinless fillets Chilean Sea Bass Fillets</li>
      <li> 1 tablespoon of olive oil</li>
      <li> 1 tablespoon of paprika</li>
      <li> 1 teaspoon of cayenne pepper</li>
      <li> 1 teaspoon of black pepper</li>
      <li> 1/2 tablespoon of salt</li>
      <li> 1 tablespoon of onion powder</li>
      <li> 1 tablespoon of garlic powder</li>
      <li> 1/2 teaspoon dried thyme</li>
      <li> 1/2 teaspoon of oregano</li>
      <li> 2 tablespoon butter</li>
    </ol>
  <h2>Directions</h2>
    <ol type="I">
      <li>
        Preheat the oven to 350F degrees. While the oven is preheating mix the spices and herbs together to make a seafood rub. With the rub prepared, get started on the fish. First thing first make sure the fish is skinless, next pat it dry with a paper towel and rub the spice mix on both sides of the meat. 
      </li>
      <li>
        Next heat a cast iron skillet(or just a normal skillet) to medium-hi heat and add the oil. When the oil is heated and the pan is hot add the fish. You want it to sizzle when you put it on. Cook it for about 4 minutes on each side or until it is crusted black. 
      </li>
      <li>
        When the fish is done on the pan, finish it off in the oven. Not for a very long time around 4-5 minutes. For seabass you're gonna want it to reach an internal temperature of 145f degrees. 
      </li>
      <li>
        Let it rest for 5 minutes. When it is done, I would suggest serving it with rice and steamed vegetables.
      </li>
</div>