<div class="booyah box col-10 offset-1">
  <h1 class="text-center">Blackened Chilean Seabass</h1>
  <h1 class="text-center">Baked Lobster Tails</h1>
  <br />
  <p>
    These are my two personal favorite seafood recipes, Blackened Chilean Seabass and Baked Lobster Tails. Chilean seabass is an expensive fish, but is worth every penny. It is buttery, flaky and not too fishy. When it is blackened the contrast between the crusted outside layer and soft meat on the inside is incredible. The other recipe I have for lobster tails is perfect for side dishes or just alone.   
  </p>

  <h2 class="text-center">Beforehand preparations</h2>
  <h3 class="text-center">Skinning fish</h3>
    <p>
      Before you cook the fish you are gonna want to have the skin removed. Sometimes this can be a very tricky task, especially if your knives are not sharp. I would suggest asking the fish monger to remove the skin when you buy it. If you want to do it yourself get a knife like a pairing knife and put it in between the skin and meat. When the knife is in place slice it along the skin and try your best to only cut off the skin to not lose any meat. When you are done discard the skin, or save it. Some poeple say it helps your garden grow.
    </p>
  <h3 class="text-center">Cutting Lobster Shell</h3>
    <p>
      Similarly to the seabass, you are gonna want to take a few steps before you cook the lobster. If you want to do it yourself take a pair of scissors and cut along the shell till you get to the end of the shell. Then take a spoon and shove it between the meat and shell, seperating it. Then you are going to crack the bottom of the shell which will make it easier to get to the meat. Then you pull the meat out and rest it out on top of the shell. That is how they prepare the lobster tails at restaurants.
    </p>
</div>