<div class="text-center col-10 offset-1">
  <h1>Lobster Tails</h1>
    <p>
      Lobster is definitely my favorite shellfish. It goes really well with steak or just on its own. And another plus is it makes you feel fancy. Personally the first time I made lobster tails I was nervous I would overcook it or ruin it some other way, but I found lobster to be a more simpler dish to make so I thought, so I decided to share it. The first time I made a lobster tail, I had a crab cake which I mashed into the tail and baked it like that. I highly recommend doing this. I do not know how to make crab cakes from scratch. I think the easiest option would be to buy premade cakes and use those.
    </p>
  <h2>Ingredients</h2>
    <ol type="I">
      <li> 2 lobster tails(Shell cut down the middle)</li>
      <li> 3 tablespoons of butter</li>
      <li> 1 teaspoon salt </li>
      <li> 1 teaspoon of pepper</li>
      <li> 1 teaspoon of garlic powder</li>
      <li> 1 teaspoon of paprika</li>
      <li> 1 teaspoon of lemon juice</li>
      <li> More lemon and butter for serving</li>
    </ol>
  <h2>Directions</h2>
    <ol type="I">
      <li>
        Preheat the oven to 450F degrees. I usually have the butcher cut the shell of the lobster, but if they don't. Get a pair of scissors and cut down the middle of the shell exposing the meat. and using a spoon seperate the meat from the shell. After the meat is seperated pull the shell apart and rest the meat on top of the shell. 
      </li>
      <li>
        Once the oven is preheated and the lobster is ready, put the butter in a small microwaveable bowl and melt it. After it's melted mix in the salt, pepper, spices, parsley and lemon juice.
      </li>
      <li>
        rub the butter mixture onto the lobsters until they are evenly covered. Transfer them to a baking sheet and put in the oven for about 12-15 minutes. To tell if it's cooked I take a knife and cut into the middle of the tail meat. If the meat is all white, as opposed to grayish translucent, then it is done. If you go by temperatures then you would want an internal temp of 140-145f degrees
      </li>
      <li>
        When it's done in the oven plate it and serve with more butter.
    </ol>

</div>