@import "bootstrap";

body {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Seriff", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}

.clear {
  clear: both;
}
